<div id="<%= dom_id staff %>">
  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= staff.surname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= staff.age %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= staff.sex %>
  </p>

  <p>
    <strong>Date start working:</strong>
    <%= staff.date_start_working %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= staff.gym_id %>
  </p>

</div>
