<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Service duration:</strong>
    <%= service.service_duration %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= service.gym_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= service.client_id %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= service.staff_id %>
  </p>

</div>
