<ul style="list-style: none; margin: 0; padding: 0">
  <li><button class="button" onclick="location.href='<%= appointments_path %>'">Appointments</button></li>
  <li><button class="button" onclick="location.href='<%= clients_path %>'">Clients</button></li>
  <li><button class="button" onclick="location.href='<%= gyms_path %>'">Gyms</button></li>
  <li><button class="button" onclick="location.href='<%= impressions_path %>'">Impressions</button></li>
  <li><button class="button" onclick="location.href='<%= kontakts_path %>'">Kontakts</button></li>
  <li><button class="button" onclick="location.href='<%= memberships_path %>'">Memberships</button></li>
  <li><button class="button" onclick="location.href='<%= prices_path %>'">Prices</button></li>
  <li><button class="button" onclick="location.href='<%= services_path %>'">Services</button></li>
  <li><button class="button" onclick="location.href='<%= staffs_path %>'">Staff</button></li>
  <li><button class="button" onclick="location.href='<%= webshops_path %>'">Webshops</button></li>
</ul>
