<div id="<%= dom_id impression %>">
  <p>
    <strong>Comment:</strong>
    <%= impression.comment %>
  </p>

  <p>
    <strong>Time impression:</strong>
    <%= impression.time_impression %>
  </p>

  <p>
    <strong>Date impression:</strong>
    <%= impression.date_impression %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= impression.client_id %>
  </p>

</div>
