<div id="<%= dom_id membership %>">
  <p>
    <strong>Name:</strong>
    <%= membership.name %>
  </p>

  <p>
    <strong>Number of arrivals:</strong>
    <%= membership.number_of_arrivals %>
  </p>

  <p>
    <strong>Sale:</strong>
    <%= membership.sale %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= membership.client_id %>
  </p>

</div>
