<%= form_with(model: kontakt) do |form| %>
  <% if kontakt.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kontakt.errors.count, "error") %> prohibited this kontakt from being saved:</h2>

      <ul>
        <% kontakt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.number_field :phone_number %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :facebook, style: "display: block" %>
    <%= form.text_field :facebook %>
  </div>

  <div>
    <%= form.label :instagram, style: "display: block" %>
    <%= form.text_field :instagram %>
  </div>

  <div>
    <%= form.label :gym_id, style: "display: block" %>
    <%= form.number_field :gym_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
