<div id="<%= dom_id kontakt %>">
  <p>
    <strong>Phone number:</strong>
    <%= kontakt.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= kontakt.email %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= kontakt.facebook %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= kontakt.instagram %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= kontakt.gym_id %>
  </p>

</div>
